<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Шаурмечная у Ашота</title>
</head>
<body>
    <main class="page_main">
        <div class="container">
            <h1 class="catalog_title" style="">Ошибка 404</h1>
            <h2 class="catalog_title">Такой страницы не существует</h2><br>
            <a class="nav-link" href="/">Вернуться на главный экран</a>
        </div>
    </main>
</body>
</html>