{% extends "index.html" %}

{% block content %}
<h2 class="catalog_title">О нас</h2>
<main class="page_main">
<h1 class="catalog_title">Наши преимущества</h1>
    <section class="advantages">
        <div class="advantage-card">
            <div class="advantage-icon">🏆</div>
            <h3 class="advantage-title">Большой опыт</h3>
            <p class="advantage-text">Готовим с душой с 2021 года и знаем, как сделать вкусно и качественно</p>
        </div>
        <div class="advantage-card">
            <div class="advantage-icon">🥙</div>
            <h3 class="advantage-title">Только свежие продукты</h3>
            <p class="advantage-text">Только свежие продукты и мясо прямо с вертела</p>
        </div>
        <div class="advantage-card">
            <div class="advantage-icon">💬</div>
            <h3 class="advantage-title">Поддержка 24/7</h3>
            <p class="advantage-text">Ответим на любой вопрос</p>
        </div>
    </section>
    <p>«Шаурмечная у Ашота» — сеть, где вкус решает всё.
    Готовим с 2021 года. Используем только свежие овощи, сочное мясо прямо с вертела и правильные специи. За 5 лет мы
    накормили тысячи гостей и точно знаем, как сделать шаурму, которую хочется доесть до последнего кусочка.
    Приходите за своей любимой классикой или попробуйте фирменные сочетания — готовим с душой и для вас.</p>
</main>
{% endblock %}