{% extends "index.html" %}

{% block content %}
<h1 class="text-center">Ваш профиль</h1>
<h1>Ваши заказы:</h1>
{% if orders %}
    {% for order in orders %}
        <p>Заказ №{{ order["order"].id }}, Сумма: {{ order["order"].total_summa }}₽, Статус: {{ order["order"].status }}, Время:
        {{ order["order"].time.strftime('%d.%m.%Y %H:%M') }}</p>
        <p>Содержимое заказа:</p>
        {% for item in order["items"] %}
            <p>{{ item.category }} {{ item.name }} в количестве {{ item.quantity }} шт, суммой {{ item.quantity  *  item.price}}₽</p>
        {% endfor %}<br>
    {% endfor %}
    <a class="title" href="/cart">Добавить заказ?</a>
{% else %}
    <p class="text-muted">У Вас пока нет заказов.</p>
{% endif %}
{% endblock %}